@model Trias.Models.FossilView

@{
    ViewBag.Title = "EditFossil";
    Layout = "~/Views/Shared/_LayoutWithNothing.cshtml";
}

<form class="form-horizontal" role="form" method="post" style="padding: 20px; text-align: center;">
    <div class="form-group">
        <label class="col-sm-2 control-label">核准人：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Authorizer, new { type = "text", @class = "form-control", @readonly = "readonly" })
        </div>
        <label class="col-sm-2 control-label">化石带：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.RefDescribingRelation, new { type = "text", @class = "form-control", })
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">属名：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.GenusName, new { type = "text", @class = "form-control", })
        </div>
        <label class="col-sm-2 control-label">种名：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.SpeciesName, new { type = "text", @class = "form-control", })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">距剖面底部的位置：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Position, new { type = "text", @class = "form-control", })
        </div>
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Time2, new { type = "text", @class = "form-control", })
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -3%;">百万年</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">化石大类：</label>
        <div class="col-sm-3">
            <select name="FossilGroup" id="FossilGroup" class="form-control"></select>
        </div>
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <select name="Time" id="Time" onchange="change()" class="form-control"></select>
        </div>
        <div class="col-sm-2 ">
            <select name="SubTime" id="SubTime" class="form-control" style="width: auto"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">分类型：</label>
        <div class="col-sm-3 ">
            <select name="TaxonType" id="TaxonType" class="form-control"></select>
        </div>
        <label class="col-sm-2 control-label">分册号：</label>
        <div class="col-sm-4 ">
            <select name="CollectFromTreatise" id="CollectFromTreatise" class="form-control"></select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">长度：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Length, new { type = "text", @class = "form-control", })
        </div>
        <div class="col-sm-2" style="width: auto;">
            <select id="LengthSize" class="form-control">
                <option value="1">厘米</option>
                <option value="0.1">毫米</option>
            </select>
        </div>
        <label class="col-sm-2 control-label">宽度：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.width, new { type = "text", @class = "form-control", })
        </div>
        <div class="col-sm-2" style="width: auto;">
            <select id="widthSize" class="form-control">
                <option value="1">厘米</option>
                <option value="0.1">毫米</option> 
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">图片：</label>
        <div class="col-sm-2 ">
            <label class="sr-only" for="inputfile">文件输入</label>
            <input name="Picture" id="Picture" type="file">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">评论：</label>
        <div class="col-sm-7">
            @Html.TextAreaFor(x => x.Notes, new { type = "text", @class = "form-control", })
        </div>
    </div>
    <div class="form-group col-sm-10" style="text-align: center">
        <div class="col-sm-6">
            <button id="btn_save" type="button" class="btn btn-default">保存</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        var id = "";
        var value = "";
        var text = "";
        var pid;
        $.post("/Dict/GetSelectOptions", { type: "FossilGroup" }, function (result) {
            $("#FossilGroup").html("");
            //console.log(result);
            $("#FossilGroup").append("<option id='" + id + "' value='" + value + "'>" + "</option>");
            for (var i = 0; i < result.length; i++) {
                value = result[i].KeyName;
                text = result[i].ValueName;
                pid = result[i].Pid;
                id = result[i].Id;
                $("#FossilGroup").append("<option id='" + id + "' value='" + value + "'>" + text + "</option>");
                if (pid == null) {
                    $("#" + id).attr("disabled", "disabled").css("font-weight", "bold");
                }
            }
            if (typeof callback == "function") {
                callback();
            }
            $("#FossilGroup").val("@Model.FossilGroup");
        }, "json");
        
        initSelect($("#Time"), "@Url.Action("GetSelectOptions", "Dict")", { type: "Time" }, function () {
            $("#Time").val("@Model.Time");
            change(function () {
                $("#SubTime").val("@Model.SubTime");
            });
        });
        initSelect($("#TaxonType"), "@Url.Action("GetSelectOptions", "Dict")", { type: "TaxonType" }, function () {
            $("#TaxonType").val("@Model.TaxonType");
        });
        initSelect($("#CollectFromTreatise"), "@Url.Action("GetSelectOptions", "Dict")", { type: "CollectFromTreatise" }, function () {
            $("#CollectFromTreatise").val("@Model.CollectFromTreatise");
        });
        $("#LengthSize").val("1");
        $("#widthSize").val("1");
        $("#btn_save").on("click", {}, function () {
            var fossil = {
                H_ID: "@Model.H_ID",
                C_ID:"@Model.C_ID",
                Time: $("#Time").val(),
                SubTime: $("#SubTime").val(),
                Time2: $("#Time2").val(),
                Authorizer: $("#Authorizer").val(),
                FossilGroup: $("#FossilGroup").val(),
                TaxonType: $("#TaxonType").val(),
                CollectFromTreatise: $("#CollectFromTreatise").val(),
                RefDescribingRelation: $("#RefDescribingRelation").val(),
                GenusName: $("#GenusName").val(),
                SpeciesName: $("#SpeciesName").val(),
                Position: $("#Position").val(),
                Length: parseFloat($("#Length").val()) * parseFloat($("#LengthSize").val()),
                width: parseFloat($("#width").val()) * parseFloat($("#widthSize").val()),
                Picture: $("#Picture").val(),
                Notes: $("#Notes").val()
            }
            if (!identify()) { return; };
            debugger
            $.post("@Url.Action("EditFossil")",
                { fossil: JSON.stringify(fossil)},
                function (data) {
                    if (data.status === "success") {
                        $.messager.alert("",
                            data.msg,
                            "info",
                            function () {
                                parent.reload();
                                commHelper.CloseDialog("修改化石");
                            });
                    } else {
                        $.messager.alert("", data.msg, "warning");
                    }
                },
                "json");
        });
    });
    function change(func) {
        initSelect($("#SubTime"), "@Url.Action("GetSelectOptions", "Dict")", { type: "SubTime", pid: $("#Time>option:selected").attr("id") }, function () {
            func();
        });
    }
</script>