@{
    ViewBag.Title = "添加岩石组";
}
@model Trias.Models.Section

<form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">
    <div class="form-group">
        <label class="col-sm-12 control-label" style="font-size: 24px; font-weight: bold; color: #16387c; text-align: center">
            添加岩石组
        </label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准人：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Authorizer, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Authorizer" id="Authorizer" type="text" placeholder="输入核准人" class="form-control required"
                readonly="readonly" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准时间：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.EnterTime, new { type = "text", @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">剖面名称：</label>
        <div class="col-sm-3 ">
            @Html.TextBoxFor(x => x.SectionName, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="SectionName" id="SectionName" type="text" placeholder="输入剖面名称"
                   class="form-control required" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Time2, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Time2" id="Time2" type="text" placeholder="输入时代" class="form-control" />*@
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -3%;">百万年</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <select name="Time" id="Time" onchange="change()" class="form-control" value="@Model.Time"></select>
        </div>
        <div class="col-sm-2 ">
            <select name="SubTime" id="SubTime" class="form-control" style="width: auto" value="@Model.SubTime"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Country, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Country" id="Country" type="text" placeholder="输入国家"
                   class="form-control required" />*@
        </div>
        <label class="col-sm-1 control-label">省份：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Province, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Province" id="Province" type="text" placeholder="输入省份"
                   class="form-control required" />*@
        </div>
        <label class="col-sm-1 control-label">城市：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.City, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="City" id="City" type="text" placeholder="输入城市"
                   class="form-control required" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">县/区：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.County, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="County" id="County" type="text" placeholder="输入县/区"
                   class="form-control" />*@
        </div>
        <label class="col-sm-1 control-label">村：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Village, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Village" id="Village" type="text" placeholder="输入村"
                   class="form-control" />*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="background-color: #bee2fb; padding: 10px;">
            <span>岩石组</span>
            <div>
                <span style="margin-left: 20px;">单元</span>
                <div>
                    <span style="margin-left: 40px;">采样位置</span>
                    <div><span style="margin-left: 60px;">化石</span></div>
                    <div><span style="margin-left: 60px;">地球化学信息</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">评论：</label>
        <div class="col-sm-5">
            <textarea name="Comments" id="Comments" class="form-control" rows="3" placeholder="评论"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <div class="col-sm-3">
            <button onclick="reset()" type="button" class="btn btn-default">重置</button>
        </div>
        <div class="col-sm-3">
            <button onclick="save()" type="button" class="btn btn-default">保存</button>
        </div>
        <div class="col-sm-3">
            <button onclick="addFossil()" type="button" class="btn btn-default">添加化石</button>
        </div>
    </div>
</form>

<script>

</script>
