@{
    ViewBag.Title = "添加岩石组";
}
<style>
    .level2, .level3, .level4 {
        padding-left: 25px;
    }

    .co_li div {
        height: 100%;
        margin-top: 5px;
    }

    .co_li input {
        width: 60px;
    }
</style>
@model Trias.Models.Section
@*添加岩石组模态框*@
<div id="myFormation" class="easyui-dialog" title="添加岩石组" style="width: 600px; height: 400px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <form class="form-horizontal" role="form" method="post" style="padding: 10px; text-align: center;">
        <div>
            <label>岩石组名：</label>
            <input name="FormationName" id="FormationName" type="text" placeholder="岩石组名" />
        </div>
        <div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
            <div class="col-sm-2">
                <label>颜色1</label>
            </div>
        </div>
        <div class="co_li">
            <div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
                <div class="col-sm-2">
                    <input />
                </div>
            </div>
        </div>

    </form>
</div>

@*选择剖面模态框*@
<<div id="xx" class="easyui-dialog" title="选择剖面" style="width: 600px; height: 400px;"
      data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <div id="toolbar">
        <a class="easyui-linkbutton" href="/Section/Index" data-options="iconCls:'icon-add',plain:true">添加新剖面</a>
        <label>核准人：</label>
        <input name="SearchAuthorizer" id="SearchAuthorizer" type="text" placeholder="输入核准人">
        <label>剖面名称：</label>
        <input name="SearchName" id="SearchName" type="text" placeholder="剖面名称">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" id="SearchBtn" onclick="SearchBtn()">查询</a>
    </div>
    <table id="grid" class="easyui-datagrid" style="width: 100%; height: 100%;"
           data-options="url:'@Url.Action("GetSection", "Section")',fitColumns:true,singleSelect:true,pagination:true,toolbar:'#toolbar'">
        <thead>
            <tr>
                <th data-options="field:'S_ID',width:30,formatter:test"></th>
                <th data-options="field:'SectionName',width:100">名称</th>
                <th data-options="field:'Authorizer',width:100">核准人</th>
                <th data-options="field:'EnterTime',width:100,formatter:parseTimer">核准时间</th>
            </tr>
        </thead>
    </table>
</div>

<form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">
    <div class="form-group">
        <label class="col-sm-12 control-label" style="font-size: 24px; font-weight: bold; color: #16387c; text-align: center">
            添加岩石组
        </label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">剖面名称：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.SectionName, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="SectionName" id="SectionName" type="text" placeholder="输入剖面名称"
                class="form-control required" />*@
        </div>
        <div class="col-sm-1">
            <button onclick="seSection()" type="button" class="btn btn-default">选择剖面</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准人：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Authorizer, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Authorizer" id="Authorizer" type="text" placeholder="输入核准人" class="form-control required"
                readonly="readonly" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">核准时间：</label>
        <div class="col-sm-2 ">
            @{
                var enterStr = "";
                if (Model.EnterTime == null)
                {
                    enterStr = "";
                }
                else
                {
                    enterStr = ((DateTime)Model.EnterTime).ToString("yyyy-MM-dd");
                }
            }
            @Html.TextBox("EnterTime", enterStr, new { type = "text", @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Time2, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Time2" id="Time2" type="text" placeholder="输入时代" class="form-control" />*@
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -3%;">百万年</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Time, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<select name="Time" id="Time" onchange="change()" class="form-control" value="@Model.Time"></select>*@
        </div>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.SubTime, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @* <select name="SubTime" id="SubTime" class="form-control" style="width: auto" value="@Model.SubTime"></select>*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">国家：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Country, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Country" id="Country" type="text" placeholder="输入国家"
                class="form-control required" />*@
        </div>
        <label class="col-sm-1 control-label">省份：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Province, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Province" id="Province" type="text" placeholder="输入省份"
                class="form-control required" />*@
        </div>
        <label class="col-sm-1 control-label">城市：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.City, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="City" id="City" type="text" placeholder="输入城市"
                class="form-control required" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">县/区：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.County, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="County" id="County" type="text" placeholder="输入县/区"
                class="form-control" />*@
        </div>
        <label class="col-sm-1 control-label">村：</label>
        <div class="col-sm-2 ">
            @Html.TextBoxFor(x => x.Village, new { type = "text", @class = "form-control", @readonly = "readonly" })
            @*<input name="Village" id="Village" type="text" placeholder="输入村"
                class="form-control" />*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label"></label>
        <div class="col-sm-10 " style="background-color: #bee2fb; height: auto; padding: 10px;">
            <div>
                <label class="control-label" style="font-size: 20px">岩石组</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="myFormation()">
                        添加岩石组
                    </button>
                </div>
                <div class="level1">
                    <label class="control-label">岩石组</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">按钮 1</button>
                        <button type="button" class="btn btn-default">按钮 2</button>
                        <button type="button" class="btn btn-default">按钮 3</button>
                    </div>
                    <div class="level2">
                        <label class="control-label">单元</label>
                        <div class="level3">
                            <label class="control-label">采样位置</label>
                            <div class="level4">
                                <label class="control-label">化石</label>
                            </div>
                            <div class="level4">
                                <label class="control-label">地球化学信息</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">评论：</label>
        <div class="col-sm-5">
            <textarea name="Comments" id="Comments" class="form-control" rows="3" placeholder="评论"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <div class="col-sm-3">
            <button onclick="reset()" type="button" class="btn btn-default">重置</button>
        </div>
        <div class="col-sm-3">
            <button onclick="save()" type="button" class="btn btn-default">保存</button>
        </div>
        <div class="col-sm-3">
            <button onclick="addFossil()" type="button" class="btn btn-default">添加化石</button>
        </div>
    </div>
</form>

<script>
    //打开模态框
    function myFormation() {
        //commHelper.OpenDialog("添加岩石组","@Url.Action("Add")")
        //$('#myFormation').dialog("open");
    }
    function parseTimer(value) {
        return commHelper.ChangeDateFormatYMD(value);
    }
    function test(value, row, index) {
        return "<div onclick='selectSection(\"" + row.S_ID + "\")' class='icon-ok' style='width:30px;height:30px;'/>";
    }
    function selectSection(sid) {
        location.href = "/Formation/Index/" + sid;
    }
    function seSection() {
        $('#xx').dialog("open");//弹出模态框
    }
    function SearchBtn() {
        var SearchAuthorizer = $("#SearchAuthorizer").val();
        var SearchName = $("#SearchName").val();
        $("#grid").datagrid("reload", {
            authorizer: SearchAuthorizer,
            sectionName: SearchName
        });
    }
</script>
