@{
    ViewBag.Title = "添加岩石组";
}
<style>
    .level1, .level2, .level3, .level4 {
        padding-left: 25px;
        line-height: 30px;
    }

    .co_li div {
        height: 100%;
        margin-top: 5px;
    }

    .co_li input {
        width: 70px;
    }

    .bian_ju {
        margin-bottom: 10px;
    }

    .container {
        width: 806px;
        margin: 0px auto;
        margin-top: 40px;
        padding-bottom: 4px;
        position: relative;
        overflow: auto;
    }

    .conta {
        width: 740px;
        border-top: 2px solid #4469a1;
        border-bottom: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
        border-right: 1px solid #d6d6d6;
        box-shadow: 2px 2px 3px #888888;
        overflow: hidden;
        padding: 30px 30px 20px 30px;
        background-color: #FFF;
    }
</style>

@model Trias.Models.SectionView

@*选择剖面模态框*@
<div id="xx" class="easyui-dialog" title="选择剖面" style="width: 600px; height: 400px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
    <div id="toolbar">
        <a class="easyui-linkbutton" href="/Section/Index" data-options="iconCls:'icon-add',plain:true">添加新剖面</a>
        <label>核准人：</label>
        <input name="SearchAuthorizer" id="SearchAuthorizer" type="text" placeholder="输入核准人">
        <label>剖面名称：</label>
        <input name="SearchName" id="SearchName" type="text" placeholder="剖面名称">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" id="SearchBtn" onclick="SearchBtn()">查询</a>
    </div>
    <table id="grid" class="easyui-datagrid" style="width: 100%; height: 100%;"
           data-options="url:'@Url.Action("GetSection", "Section")',fitColumns:true,singleSelect:true,pagination:true,toolbar:'#toolbar'">
        <thead>
            <tr>
                <th data-options="field:'S_ID',width:30,formatter:test"></th>
                <th data-options="field:'SectionName',width:100">名称</th>
                <th data-options="field:'Authorizer',width:100">核准人</th>
                <th data-options="field:'EnterTime',width:100,formatter:parseTimer">核准时间</th>
            </tr>
        </thead>
    </table>
</div>

<form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">
    <div class="form-group">
        <div class="col-sm-1">
            <button onclick="seSection()" type="button" class="btn btn-default">选择剖面</button>
        </div>
    </div>
    <div class="container">
        <div class="conta">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.SectionName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SectionName)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Time)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Time)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.SubTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SubTime)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.TimeEnd)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TimeEnd)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.SubTimeEnd)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.SubTimeEnd)
            </div>


            <div class="display-label">
                @Html.DisplayNameFor(model => model.Time2)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Time2)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Time2End)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Time2End)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EnterTime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.EnterTime)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Authorizer)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Authorizer)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Country)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Country)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Province)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Province)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.City)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.City)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.County)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.County)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Village)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Village)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LonDegrees)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LonDegrees)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LonMinutes)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LonMinutes)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LonSeconds)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LonSeconds)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LatDegrees)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LatDegrees)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LatMinutes)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LatMinutes)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LatSeconds)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LatSeconds)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.TectonicPlate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TectonicPlate)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Notes)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Notes)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Comments)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Comments)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Altitude)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Altitude)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Sthickness)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Sthickness)
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-1 control-label"></label>
        <div class="col-sm-10" style="background-color: #bee2fb; height: auto; padding: 10px;">
            <div style="margin-bottom:5px">
                <label>岩石组层级关系</label>
                <div class="btn-group" style="float: right">
                    @*<button  type="button" class="btn btn-default" onclick="myFormation()">
                            添加岩石组
                        </button>*@
                    <a href="#"><span class="glyphicon glyphicon-plus " onclick="myFormation()">添加岩石组</span></a>
                </div>
            </div>
            <div id="box">
            </div>

        </div>
    </div>

    <div class="form-group" style="text-align: center">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default">完成</button>
        </div>
    </div>
</form>

<script>
    $(function () {
        reload();
    });
    function reload() {
        $.post("@Url.Action("GetInfomationBySId")", { sid: "@Model.S_ID" }, function (data) {
            var box = $("#box");
            box.html("");
            for (var i = 0; i < data.length; i++) {
                var formation = data[i].formation;
                var fid = formation.F_ID;
                var fName = formation.FormationName;
                var units = data[i].units;
                var formationDiv = $("<div class='level1' id='" + fid + "'/>");
                formationDiv.append("<label>" + fName + "</label>");
                formationDiv.append(

                    "<div class='btn-group'style='float:right;'><a href='#'><span class='glyphicon glyphicon-plus' onclick='myUnit(\"" + fid + "\")'>添加层</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-trash' onclick='delFormation(\"" + fid + "\")'>删除岩石组</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-pencil' onclick='altFormation(\"" + fid + "\")'>修改岩石组</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-up' onclick='up(this)'>岩石组上移</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-down' onclick='down(this)'>岩石组下移</span></a></div>");

                // "<div class='btn-group'><button type='button' class='btn btn-default' onclick='myUnit(\"" + fid + "\")'>添加层</button><button type='button' class='btn btn-default' onclick='delFormation(\"" + fid + "\")'>删除岩石组</button><button type='button' class='btn btn-default'>修改岩石组</button></div>");
                box.append(formationDiv);
                for (var j = 0; j < units.length; j++) {
                    var unit = units[j].unit;
                    var uid = unit.U_ID;
                    var uName = "层" + (j + 1);
                    if (unit.UnitName) {
                        uName = unit.UnitName;
                    }
                    var collections = units[j].collections;
                    var unitDiv = $("<div class='level2' id='" + uid + "'/>");
                    unitDiv.append("<label>" + uName + "</label>");
                    unitDiv.append(
                        "<div class='btn-group'style='float:right'><a href='#'><span class='glyphicon glyphicon-plus' onclick='myCollection(\"" + uid + "\")'>添加采样位置</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-trash' onclick='delUnit(\"" + uid + "\")'>删除层</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-pencil' onclick='altUnit(\"" + uid + "\")'>修改层</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-up' onclick='up(this)'>层上移</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-down' onclick='down(this)'>层下移</span></a></div>");
                    formationDiv.append(unitDiv);
                    for (var k = 0; k < collections.length; k++) {
                        var collection = collections[k].collection;
                        var cid = collection.C_ID;
                        var cName = "采样位置" + (k + 1);
                        var fossils = collections[k].fossils;
                        var collectionDiv = $("<div class='level3' id='" + cid + "'/>");
                        collectionDiv.append("<label>" + cName + "</label>");
                        collectionDiv.append(
                            "<div class='btn-group'style='float:right'><a href='#'><span class='glyphicon glyphicon-plus' onclick='myFossil(\"" + cid + "\")'>添加化石</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-plus' onclick='myGeochemical(\"" + cid + "\")'>添加地球化学信息</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-trash'  onclick='delCollection(\"" + cid + "\")'>删除采样位置</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-pencil' onclick='altCollection(\"" + cid + "\")'>修改采样位置</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-up' onclick='up(this)'>采样位置上移</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-down' onclick='down(this)'>采样位置下移</span></a></div>");
                        unitDiv.append(collectionDiv);
                        for (var l = 0; l < fossils.length; l++) {
                            var fossil = fossils[l];
                            var foid = fossil.H_ID;
                            var foName = "化石" + (l + 1);
                            if (fossil.FossilName) {
                                foName = fossil.FossilName;
                            }
                            var fossilDiv = $("<div class='level4' id='" + foid + "'/>");
                            fossilDiv.append("<label>" + foName + "</label>");
                            fossilDiv.append(
                                "<div class='btn-group'style='float:right'><a href='#'><span class='glyphicon glyphicon-trash'  onclick='delFossil(\"" + foid + "\")'>删除化石</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-pencil' onclick='altFossil(\"" + foid + "\")'>修改化石</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-up' onclick='up(this)'>化石上移</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-down' onclick='down(this)'>化石下移</span></a></div>");
                            collectionDiv.append(fossilDiv);
                        }
                        var geochemicals = collections[k].geochemicals;
                        for (var l = 0; l < geochemicals.length; l++) {
                            var geochemical = geochemicals[l];
                            var gid = geochemical.G_ID;
                            var gName = "地球化学信息 " + (l + 1);
                            var geochemicalDiv = $("<div class='level4' id='" + gid + "'/>");
                            geochemicalDiv.append("<label>" + gName + "</label>");
                            geochemicalDiv.append(
                                "<div class='btn-group'style='float:right'><a href='#'><span class='glyphicon glyphicon-trash'  onclick='delGeochemical(\"" + gid + "\")'>删除地球化学信息</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-pencil' onclick='altGeochemical(\"" + gid + "\")'>修改地球化学信息</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-up' onclick='up(this)'>地球化学信息上移</span></a>&nbsp;&nbsp;<a href='#'><span class='glyphicon glyphicon-arrow-down' onclick='down(this)'>地球化学信息下移</span></a></div>");
                            collectionDiv.append(geochemicalDiv);
                        }
                    }
                }
            }
        }, "json");
    }
    //上移
    function up(dom) {
        var div = $(dom).parent().parent().parent();
        var nextDiv = div.prev();
        var f1 = div.attr("class");
        var f2 = nextDiv.attr("class");
        if (f1 != f2) {
            return;
        }
        div.insertBefore(nextDiv);
        var id1 = div.attr("id");
        var id2 = nextDiv.attr("id");
        $.post("@Url.Action("ChangeSort")", { id1: id1, id2: id2, level: f1 }, function (data) {
        });
    }
    //下移
    function down(dom) {
        var div = $(dom).parent().parent().parent();
        var nextDiv = div.next();
        var f1 = div.attr("class");
        var f2 = nextDiv.attr("class");
        if (f1 != f2) {
            return;
        }
        div.insertAfter(nextDiv);
        var id1 = div.attr("id");
        var id2 = nextDiv.attr("id");
        $.post("@Url.Action("ChangeSort")", { id1: id1, id2: id2, level: f1 }, function (data) {
        });
    }
    //打开模态框
    function myFormation() {
        if ("@Model.S_ID" == "") {
            $.messager.alert("", "请选择一个剖面", "warning");
            return;
        }
        commHelper.OpenDialog("添加岩石组", "@Url.Action("Add")/@Model.S_ID");
    }
    function delFormation(fid) {
        $.messager.confirm("", "删除操作不可逆，且删除岩石组会同时删除该岩石组下的层，您确定删除该岩石组么？", function (flag) {
            if (flag) {
                $.post("@Url.Action("RemoveFormation", "Formation")", { id: fid }, function (data) {
                    $.messager.alert("", data.msg, "info");
                    reload();
                }, "json");
            }
        });
    }
    function altFormation(fid) {
        if ("@Model.S_ID" == "") {
            $.messager.alert("", "请选择一个剖面", "warning");
            return;
        }
        commHelper.OpenDialog("修改岩石组", "@Url.Action("EditFormation")/" + fid);

    }
    function myUnit(fid) {
        commHelper.OpenDialog("添加层", "@Url.Action("Add", "Unit")/" + fid);
    }
    function delUnit(uid) {
        $.messager.confirm("", "删除操作不可逆，且删除层会同时删除该层下的采样位置，您确定删除该层么？", function (flag) {
            if (flag) {
                $.post("@Url.Action("RemoveUnit", "Unit")", { id: uid }, function (data) {
                    $.messager.alert("", data.msg, "info");
                    reload();
                }, "json");
            }
        });
    }
    function altUnit(uid) {
        commHelper.OpenDialog("修改层", "@Url.Action("EditUnit","Unit")/" + uid);
    }
    function myCollection(uid) {
        commHelper.OpenDialog("添加采样位置", "@Url.Action("Add", "Collection")/" + uid);
    }
    function delCollection(cid) {
        $.messager.confirm("", "删除操作不可逆，且删除采样位置会同时删除该采样位置下的化石和地球化学信息，您确定删除该采样位置么？", function (flag) {
            if (flag) {
                $.post("@Url.Action("RemoveCollection", "Collection")", { id: cid }, function (data) {
                    $.messager.alert("", data.msg, "info");
                    reload();
                }, "json");
            }
        });
    }
    function altCollection(cid) {
        commHelper.OpenDialog("修改采样位置", "@Url.Action("EditCollection","Collection")/" + cid);
    }
    function myFossil(cid) {
        commHelper.OpenDialog("添加化石", "@Url.Action("Add", "Fossil")/" + cid);
    }
    function delFossil(foid) {
        $.messager.confirm("", "删除操作不可逆，您确定删除该化石么？", function (flag) {
            if (flag) {
                $.post("@Url.Action("RemoveFossil", "Fossil")", { id: foid }, function (data) {
                    $.messager.alert("", data.msg, "info");
                    reload();
                }, "json");
            }
        });
    }
    function altFossil(foid) {
        commHelper.OpenDialog("修改化石", "@Url.Action("EditFossil","Fossil")/" + foid);
    }
    function myGeochemical(cid) {
        commHelper.OpenDialog("添加地球化学信息", "@Url.Action("Add", "Geochemical")/" + cid);
    }
    function delGeochemical(gid) {
        $.messager.confirm("", "删除操作不可逆，您确定删除该地球化学信息么？", function (flag) {
            if (flag) {
                $.post("@Url.Action("RemoveGeochemical", "Geochemical")", { id: gid }, function (data) {
                    $.messager.alert("", data.msg, "info");
                    reload();
                }, "json");
            }
        });
    }
    function altGeochemical(gid) {
        debugger;
        commHelper.OpenDialog("修改地球化学信息", "@Url.Action("EditGeochemical", "Geochemical")/" + gid);
    }
    function parseTimer(value) {
        return commHelper.ChangeDateFormatYMD(value);
    }
    function test(value, row, index) {
        return "<div onclick='selectSection(\"" + row.S_ID + "\")' class='icon-ok' style='width:30px;height:30px;'/>";
    }
    function selectSection(sid) {
        location.href = "/Formation/Index/" + sid;
    }
    function seSection() {
        $('#xx').dialog("open");//弹出模态框
    }
    function SearchBtn() {
        var SearchAuthorizer = $("#SearchAuthorizer").val();
        var SearchName = $("#SearchName").val();
        $("#grid").datagrid("reload", {
            authorizer: SearchAuthorizer,
            sectionName: SearchName
        });
    }
</script>
