@model Trias.Models.ReferenceView

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutWithNothing.cshtml";
}
<body style="overflow-y:auto;">
    <form class="form-horizontal" role="form" id="form" method="post" style="padding: 10px;">
        @*@Html.HiddenFor(x=>x.R_ID)*@
        <input id="R_ID" name="R_ID" type="hidden" value="@Model.R_ID">
        <div class="form-group">
            <label class="col-sm-2 control-label">文献类型：</label>
            <div class="col-sm-3">
                <select name="ReferenceType" id="ReferenceType" class="form-control required" onchange="changeType()"></select>
            </div>
        </div>
        <div class="form-group book">
            <label class="col-sm-2 control-label">书名：</label>
            <div class="col-sm-3">
                <input name="BookTitle" id="BookTitle" type="text" class="form-control"
                       placeholder="输入书名" value="@Model.BookTitle" />
            </div>
        </div>

        <div class="form-group journal PHD">
            <label class="col-sm-2 control-label">文献名：</label>
            <div class="col-sm-3">
                <input name="Title" id="Title" type="text" class="form-control"
                       placeholder="输入文献名" value="@Model.Title" />
            </div>
        </div>
        <div class="form-group journal">
            <label class="col-sm-2 control-label">杂志名：</label>
            <div class="col-sm-3">
                <input name="Journal" id="Journal" type="text" class="form-control"
                       placeholder="输入杂志名" value="@Model.Journal" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">第一作者：</label>
            <div class="col-sm-2">
                <input name="FirstAuthor" id="FirstAuthor" class="form-control" type="text"
                       placeholder="第一作者" value="@Model.FirstAuthor">
            </div>
            <div class="col-sm-2">
                <input name="OtherAuthors" id="OtherAuthors" class="form-control" type="text" placeholder="输入其他作者" value="@Model.OtherAuthors">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">年度：</label>
            <div class="col-sm-2">
                <input name="Year" id="Year" type="number" class="form-control required" placeholder="输入年度" value="@Model.Year" />
            </div>
        </div>
        <div class="form-group book">
            <label class="col-sm-2 control-label">编辑：</label>
            <div class="col-sm-2">
                <input name="Editor1" id="Editor1" type="text" class="form-control"
                       placeholder="输入编辑" value="@Model.Editor1" />
            </div>
        </div>

        <div class="form-group journal">
            <label class="col-sm-2 control-label">册：</label>
            <div class="col-sm-2">
                <input name="Volume" id="Volume" type="number" class="form-control" placeholder="册" value="@Model.Volume" />
            </div>
            <label class="col-sm-1 control-label">卷：</label>
            <div class="col-sm-2">
                <input name="No" id="No" type="number" class="form-control" placeholder="卷" value="@Model.No" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">起始页：</label>
            <div class="col-sm-2">
                <input name="PageBegin" id="PageBegin" type="number" class="form-control" placeholder="起始页" value="@Model.PageBegin" />
            </div>
            <label class="col-sm-1 control-label">结束页：</label>
            <div class="col-sm-2">
                <input name="PageEnd" id="PageEnd" type="number" class="form-control" placeholder="结束页" value="@Model.PageEnd" />
            </div>
        </div>
        <div class="form-group book">
            <label class="col-sm-2 control-label">出版社：</label>
            <div class="col-sm-3">
                <input name="Publisher" id="Publisher" type="text" class="form-control"
                       placeholder="输入出版社" value="@Model.Publisher" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">语言：</label>
            <div class="col-sm-2">
                <select name="Language" id="Language" class="form-control required"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">编码：</label>
            <div class="col-sm-3">
                <input name="DOI" id="DOI" type="text" class="form-control"
                       placeholder="输入编码" value="@Model.DOI" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">链接1：</label>
            <div class="col-sm-5">
                <input name="URL1" id="URL1" type="text" class="form-control"
                       placeholder="输入链接1" value="@Model.URL1" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">链接2：</label>
            <div class="col-sm-5">
                <input name="URL2" id="URL2" type="text" class="form-control"
                       placeholder="输入链接2" value="@Model.URL2" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">评论：</label>
            <div class="col-sm-5">
                <textarea name="Comments" id="Comments" class="form-control" rows="3" placeholder="评论">@Model.Comments</textarea>
            </div>
        </div>
        <div class="form-group" style="text-align: center">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <button onclick="resetForm()" type="button" class="btn btn-default" style="display:none">重置</button>
            </div>
            <div class="col-sm-3">
                <button onclick="save()" type="button" class="btn btn-default">确定</button>
            </div>
            <div class="col-sm-3">
                <button id="addSection" type="button" class="btn btn-default" style="display:none">添加剖面</button>
            </div>
        </div>
    </form>
</body>
<script>
    var getOptionsURL = "@Url.Action("GetSelectOptions", "Dict")";
    var rid;
    var showTitle;
    $(function () {
        $("#PageBegin,#PageEnd").on("focus", {}, function () {
            $(this).removeClass("error_ness");
        });
        $('#addSection').attr({ "disabled": "disabled" });//禁用button
        //处理文献类型下拉框
        initSelect($("#ReferenceType"), getOptionsURL, { type: "ReferenceType" }, function () {
            $("#ReferenceType").val("@Model.ReferenceType");
            changeType();
        });
        //处理语言下拉框
        initSelect($("#Language"), getOptionsURL, { type: "Language" }, function () {
            $("#Language").val("@Model.Language");
        });
        $('#form').form({
            url: '/Reference/Edit',
            onSubmit: function () {
                //提交验证，return false;不提交
                var arr = $(".required");
                var flag = true;
                for (var i = 0; i < arr.length; i++) {
                    if ($(arr[i]).val() == "") {
                        flag = false;
                        $(arr[i]).addClass("error_ness");
                    }
                }
                var PageBegin = $("#PageBegin").val();
                var PageEnd = $("#PageEnd").val();
                if (PageBegin != "" && PageEnd != "") {
                    if (parseInt(PageBegin) > parseInt(PageEnd)) {
                        flag = false;
                        $("#PageBegin,#PageEnd").addClass("error_ness");
                        $.messager.alert("", "结束页须大于等于起始页！", "warning");
                    }
                }
                if (flag == true) {
                    var value = $("#ReferenceType").val();
                    switch (value) {
                        case "journal article":
                        case "paper presented at metting":
                        case "abstract":
                            //$(".book").css("display", "none");
                            //$(".PHD").css("display", "none");
                            //$(".journal").css("display", "block");
                            $(".book:not(.journal),.PHD:not(.journal)").find("input").val("");//包含book或PHD但不包含journal
                            break;
                        case "book":
                        case "edit book":
                        case "book chapter":
                            //$(".journal").css("display", "none");
                            //$(".PHD").css("display", "none");
                            //$(".book").css("display", "block");
                            $(".journal:not(.book),.PHD:not(.book)").find("input").val("");
                            break;
                        case "Ph.D.dissertation":
                        case "master thesis":
                            $(".journal:not(PHD),.book:not(PHD)").find("input").val("");
                            break;
                        default:
                            break;
                    }

                }
                return flag;
            },
            success: function (data) {
                //提交成功后的操作
                if (typeof data == "string") {
                    data = $.parseJSON(data);
                }
                if (data.status == "success") {
                    rid = data.msg.R_ID;
                    showTitle = data.msg.ShowTitle;
                    $('#addSection').removeAttr("disabled");//启用button
                    //.messager异步弹窗
                    $.messager.alert("", "修改成功！", "info", function () {
                        parent.queryList();//调用父页面的函数
                        commHelper.CloseDialog("修改文献");
                    });
                }
                else {
                    $.messager.alert("", data.msg, "warning");
                }
            }
        });
        $("#addSection").click(function () {
            location.href = "/Section/Index?rid=" + rid + "&showTitle=" + showTitle;
        });


    });
    function resetForm() {
        $('#form').form("reset");
    }
    function save() {
        $('#form').form("submit");
    }

    function changeType() {
        var value = $("#ReferenceType").val();
        switch (value) {
            case "journal article":
            case "paper presented at metting":
            case "abstract":
                $(".book").css("display", "none");
                $(".PHD").css("display", "none");
                $(".journal").css("display", "block");
                break;
            case "book":
            case "edit book":
            case "book chapter":
                $(".journal").css("display", "none");
                $(".PHD").css("display", "none");
                $(".book").css("display", "block");
                break;
            case "Ph.D.dissertation":
            case "master thesis":
                $(".journal").css("display", "none");
                $(".book").css("display", "none");
                $(".PHD").css("display", "block");
                break;
            default:
                break;
        }
    }
</script>

