@{
    ViewBag.Title = "添加采样位置";
    Layout = "~/Views/Shared/_LayoutWithNothing.cshtml";
}
<form class="form-horizontal" role="form" method="post" style="padding: 20px; text-align: center;">
    <div class="form-group">
        <div class="col-sm-8">
            <label class="col-sm-3 control-label">距底部位置：</label>
            <div class="col-sm-3">
                <input name="Depth1" id="Depth1" type="number" placeholder="开始" class="form-control required" />
            </div>
            <label class="col-sm-1 control-label">—</label>
            <div class="col-sm-3">
                <input name="Depth2" id="Depth2" type="number" placeholder="结束" class="form-control required" />
            </div>
            <div class="col-sm-2" style="width: auto">
                <select id="ThicknessSize" class="form-control">
                    <option value="100">米</option>
                    <option value="2.54">英寸</option>
                    <option value="1">厘米</option>
                </select>
            </div>
        </div>
        <label class="col-sm-2 control-label">精准度：</label>
        <div class="col-sm-2" style="width: auto">
            <select class="form-control">
                <option value="high">高</option>
                <option value="low">低</option>
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label class="col-sm-1">颜色1</label>
            <label class="col-sm-1">颜色2</label>
            <label class="col-sm-2">岩性1</label>
            <label class="col-sm-2">岩性2</label>
            <label class="col-sm-3">主要岩性</label>
            <label class="col-sm-3">关系</label>
        </div>
        <div class="co_li">
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control required" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control required" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <div class="btn-group" style="width: 100%;">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="width: 100%;">
                            复制
                        </button>
                        <ul class="dropdown-menu" style="width: 100%;">
                            <li><a href="javascript:copyfromformation()">从岩石组拷贝</a></li>
                            <li><a href="javascript:copyfromunit()">从层拷贝</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">备注：</label>
        <div class="col-sm-7">
            <textarea name="Details" id="Details" class="form-control" rows="3" placeholder="备注" style="resize: none"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <button id="btn_save" type="button" class="btn btn-default">确定</button>
    </div>
</form>

<script>
    var uid = "@ViewBag.U_ID";
    var fid = "@ViewBag.F_ID";
</script>
<script>
    $(function () {
        initSelect($(".Relation"), "@Url.Action("GetSelectOptions", "Dict")", { type: "Relation" });
        //保存响应事件
        $("#btn_save").on("click", {}, function () {
            var collection = {
                U_ID: uid,
                Precision: $("#Precision").val(),
                Details: $("#Details").val(),
                Depth1: parseFloat($("#Depth1").val()) * parseFloat($("#ThicknessSize").val()),
                Depth2: parseFloat($("#Depth2").val()) * parseFloat($("#ThicknessSize").val())
            };
            var rocks = [];
            var lines = $(".co_li>div");
            for (var i = 0; i < lines.length; i++) {
                var rock = {
                    Type: "Formation",
                    Color1: $(lines[i]).find("input:eq(0)").val(),
                    Color2: $(lines[i]).find("input:eq(1)").val(),
                    Lithology1: $(lines[i]).find("input:eq(2)").val(),
                    Lithology2: $(lines[i]).find("input:eq(3)").val(),
                    MainLithology: $(lines[i]).find("input:eq(4)").val(),
                    Sort: i,
                    Relation: $(lines[i]).find("select:eq(0)").val()
                }
                if (rock.Color1.length <= 0 && rock.Color2.length <= 0 && rock.Lithology1.length <= 0 && rock.Lithology2.length <= 0 && rock.MainLithology.length <= 0) {
                    //一个都没填视为无效
                    continue;
                }
                rocks.push(rock);
            }
            //前端验证
            if (!identify()) { return; };
            $.post("@Url.Action("Add")",
                { collection: JSON.stringify(collection), rocks: JSON.stringify(rocks) },
                function (data) {
                    if (data.status === "success") {
                        $.messager.alert("",
                            data.msg,
                            "info",
                            function () {
                                parent.reload();
                                commHelper.CloseDialog("添加采样位置");
                            });
                    } else {
                        $.messager.alert("", data.msg, "warning");
                    }
                },
                "json");
        });
    });
    function copyfromformation() {
        $.post("@Url.Action("GetList","Rock")", { id: fid }, function (data) {
            var lines = $(".co_li>div");
            for (var i = 0; i < data.length; i++) {
                $(lines[i]).find("input:eq(0)").val(data[i].Color1);
                $(lines[i]).find("input:eq(1)").val(data[i].Color2);
                $(lines[i]).find("input:eq(2)").val(data[i].Lithology1);
                $(lines[i]).find("input:eq(3)").val(data[i].Lithology2);
                $(lines[i]).find("input:eq(4)").val(data[i].MainLithology);
                $(lines[i]).find("select:eq(0)").val(data[i].Relation);
            }
        }, "json");
    }
    function copyfromunit() {
        $.post("@Url.Action("GetList","Rock")", { id: uid }, function (data) {
            var lines = $(".co_li>div");
            lines.find("input").val("");
            lines.find("select").val("");
            for (var i = 0; i < data.length; i++) {
                $(lines[i]).find("input:eq(0)").val(data[i].Color1);
                $(lines[i]).find("input:eq(1)").val(data[i].Color2);
                $(lines[i]).find("input:eq(2)").val(data[i].Lithology1);
                $(lines[i]).find("input:eq(3)").val(data[i].Lithology2);
                $(lines[i]).find("input:eq(4)").val(data[i].MainLithology);
                $(lines[i]).find("select:eq(0)").val(data[i].Relation);
            }
        }, "json");
    } 
</script>
