<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Content/JS/jquery-1.9.1.min.js"></script>

    @* bootstrap *@
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    @* bootstrap *@

    @* easyui *@
    <link href="~/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/easyui/demo/demo.css" rel="stylesheet" />
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    @* easyui *@
    <link href="~/Content/CSS/main.css" rel="stylesheet" />
    <script src="~/Content/JS/home.js"></script>
</head>
<body class="easyui-layout">
    @*<div data-options="region:'north'" style="height: 90px;"></div>*@
    <div data-options="region:'west',title:'Menu'" style="width: 300px;">
        <div style="margin: 10px; text-align: center">
            <span>
                <strong id="name"></strong>
                <a onclick="SignOut()" style="color: #FF9A00;"><strong>Sign out</strong></a>
            </span>
        </div>
        <div>
            <div id="aa" class="easyui-accordion" style="width: auto; height: auto;">
                <div title="添加数据" data-options="iconCls:'icon-save',selected:true" style="overflow: auto; padding: 10px;">
                    <div class="order">
                        <div class="meu"><a href="@Url.Action("Index","Reference")"><b>添加文献</b></a></div>
                        <div class="meu"><a href="@Url.Action("Index","Section")"><b>添加剖面</b></a></div>
                        <div class="meu"><a href="@Url.Action("Index","Formation")"><b>添加岩石组</b></a></div>
                    </div>
                </div>
                <div title="查询数据" data-options="iconCls:'icon-save'" style="padding: 10px;">
                    <div class="order">
                        <div class="meu"><a href="@Url.Action("QueryList","Reference")"><b>查询文献</b></a></div>
                        <div class="meu"><a href="/Section/QueryList"><b>查询剖面</b></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center'">
        @RenderBody()
        @*用这个的母版页的页面的所有东西都放在这个地方*@
    </div>
</body>
</html>
<script>
    var currentUser;
    var getOptionsURL = "@Url.Action("GetSelectOptions", "Dict")";
    $(function () {
        //获取用户名
        $.post("@Url.Action("GetCurrentUser", "Login")", {}, function (result) {
            currentUser = result.msg;
            if (currentUser == null) {
               location.href = "/";
            }
            else {
                $("#name").html(currentUser.UserName);
            }
            if (typeof init == "function") {
                init();
            }
        }, "json");
        //移除必填项错误提示
        $(".required").on("focus", {}, function () {
            $(this).removeClass("error_ness");
        });
    });
    //退出函数
    function SignOut() {
        $.post("@Url.Action("SignOut", "Login")", {}, function (url) {
            location.href = url;
        }, "text");
    }
</script>
