@{
    ViewBag.Title = "添加单元";
    Layout = "~/Views/Shared/_LayoutWithNothing.cshtml";
}

<form class="form-horizontal" role="form" method="post" style="padding: 20px; text-align: center;">
    <div class="form-group">
        <label class="col-sm-2 control-label">单元编号：</label>
        <div class="col-sm-2">
            <input name="U_ID" id="U_ID" type="number" placeholder="单元编号" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">基准点：</label>
        <div class="col-sm-2">
            <select name="ContactBase" id="ContactBase" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">外观：</label>
        <div class="col-sm-2">
            <input name="Facies" id="Facies" type="number" placeholder="外观" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">沉积环境：</label>
        <div class="col-sm-2">
            <select name="Environments" id="Environments" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">厚度：</label>
        <div class="col-sm-2">
            <input name="Thickness" id="Thickness" type="number" placeholder="厚度" class="form-control" />
        </div>
        <div class="col-sm-2" style="width: auto">
            <select class="form-control">
                <option>米</option>
                <option>英寸</option>
                <option>厘米</option>
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label class="col-sm-1">颜色1</label>
            <label class="col-sm-1">颜色2</label>
            <label class="col-sm-2">岩性1</label>
            <label class="col-sm-2">岩性2</label>
            <label class="col-sm-3">主要岩性</label>
            <label class="col-sm-3">关系</label>
        </div>
        <div class="co_li">
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control Relation"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" />
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-info" style="width: 100%;">从岩石组拷贝</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">备注：</label>
        <div class="col-sm-7">
            <textarea name="Details" id="Details" class="form-control" rows="3" placeholder="备注" style="resize: none"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <button id="btn_save" type="button" class="btn btn-default">确定</button>
    </div>
</form>
<script>
    var uid = "@ViewBag.F_ID";
</script>
<script>
    $(function () {
        initSelect($("#ContactBase"), "@Url.Action("GetSelectOptions", "Dict")", { type: "ContactBase" });
        initSelect($("#Environments"), "@Url.Action("GetSelectOptions", "Dict")", { type: "Environments" });
        initSelect($(".Relation"), "@Url.Action("GetSelectOptions", "Dict")", { type:"Relation"});

        //保存响应事件
        $("#btn_save").on("click", {}, function () {
            var unit = {
                F_ID: uid,
                Thickness: $("#Thickness").val(),
                ContactBase: $("#ContactBase").val(),
                Facies: $("#Facies").val(),
                Environments: $("#Environments").val(),
                Details: $("#Details").val()
            };
            var rocks = [];
            var lines = $(".co_li>div");
            for (var i = 0; i < lines.length; i++) {
                var rock = {
                    Type: "Unit",
                    Color1: $(lines[i]).find("input:eq(0)").val(),
                    Color2: $(lines[i]).find("input:eq(1)").val(),
                    Lithology1: $(lines[i]).find("input:eq(1)").val(),
                    Lithology2: $(lines[i]).find("input:eq(1)").val(),
                    MainLithology: $(lines[i]).find("input:eq(1)").val(),
                    Sort: i,
                    Relation: $(lines[i]).find("input:eq(1)").val()
                }
                if (rock.Color1.length <= 0 && rock.Color2.length <= 0 && rock.Lithology1.length <= 0 && rock.Lithology2.length <= 0 && rock.MainLithology.length <= 0) {
                    //一个都没填视为无效
                    continue;
                }
                rocks.push(rock);
            }
            $.post("@Url.Action("Add")",
                { unit: JSON.stringify(unit), rocks: JSON.stringify(rocks) },
                function (data) {
                    if (data.status === "success") {
                        $.messager.alert("",
                            data.msg,
                            "info",
                            function () {
                                parent.reload();
                                commHelper.CloseDialog("添加单元");
                            });
                    } else {
                        $.messager.alert("", data.msg, "warning");
                    }
                },
                "json");
        });
    });
</script>