@{
    ViewBag.Title = "地球化学信息";
    Layout = "~/Views/Shared/_LayoutWithNothing.cshtml";
}
<form class="form-horizontal" role="form" method="post" style="padding: 20px; text-align: center;">
    <div class="form-group">
        <label class="col-sm-2 control-label">核准人：</label>
        <div class="col-sm-2 ">
            <input name="Authorizer" id="Authorizer" type="text" placeholder="输入核准人" class="form-control" />
        </div>
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <input name="Time2" id="Time2" type="number" placeholder="输入时代" class="form-control" />
        </div>
        <label class="col-sm-1 control-label" style="margin-left: -3%;">百万年</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">距剖面底部的位置：</label>
        <div class="col-sm-2 ">
            <input name="Position" id="Position" class="form-control required" />
        </div>
        <label class="col-sm-2 control-label">时代：</label>
        <div class="col-sm-2 ">
            <select name="Time" id="Time" onchange="change()" class="form-control"></select>
        </div>
        <div class="col-sm-2 ">
            <select name="SubTime" id="SubTime" class="form-control" style="width: auto"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">同位素：</label>
        <div class="col-sm-2 ">
            <select name="isotope" id="isotope" class="form-control">

            </select>
        </div>
        <label class="col-sm-2 control-label">同位素含量：</label>
        <div class="col-sm-2 ">
            <input name="Isotopepersents" id="Isotopepersents" type="number" class="form-control" />
        </div>
        <div class="col-sm-2"  style="width:auto">
            <select class="form-control">
                <option>百分比</option>
                <option>千分比</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">元素：</label>
        <div class="col-sm-2 ">
            <select name="Element" id="Element" class="form-control"></select>
        </div>
        <label class="col-sm-2 control-label">元素含量：</label>
        <div class="col-sm-2 ">
            <input name="Elementpersents" id="Elementpersents" type="number" class="form-control" />
        </div>
          <div class="col-sm-2" style="width:auto">
            <select class="form-control">
                <option>百分比</option>
                <option>千分比</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">备注：</label>
        <div class="col-sm-7">
            <textarea name="Notes" id="Notes" class="form-control" rows="3" placeholder="评论" style="resize: none"></textarea>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
        <button id="btn_save" type="button" class="btn btn-default">确定</button>
    </div>
</form>

<script>
    var cid = "@ViewBag.C_ID";
</script>
<script>
    function change() {
        initSelect($("#SubTime"), "@Url.Action("GetSelectOptions", "Dict")", { type: "SubTime", pid: $("#Time>option:selected").attr("id") });
    }
    $(function () {
        initSelect($("#isotope"), "@Url.Action("GetSelectOptions", "Dict")", { type: "isotope" });
        initSelect($("#Element"), "@Url.Action("GetSelectOptions", "Dict")", { type: "Element" });
        initSelect($("#Time"), "@Url.Action("GetSelectOptions", "Dict")", { type: "Time" }, function () { change() });

        $.post("@Url.Action("GetCurrentUser", "Login")", {}, function (user) {
            if (user.status === "success") {
                $("#Authorizer").val(user.msg.UserName);
                $("#Authorizer").attr("readonly", "readonly");
            }
        }, "json");

        //保存响应事件
        $("#btn_save").on("click", {}, function () {
            var geochemical = {
                C_ID: cid,
                Authorizer: $("#Authorizer").val(),
                isotope: $("#isotope").val(),
                Isotopepersents: $("#Isotopepersents").val(),
                Element: $("#Element").val(),
                Elementpersents: $("#Elementpersents").val(),
                Time: $("#Time").val(),
                SubTime: $("#SubTime").val(),
                Time2: $("#Time2").val(),
                Position: $("#Position").val(),
                Notes: $("#Notes").val()
            };
            $.post("@Url.Action("Add")",
                { geochemical: JSON.stringify(geochemical) },
                function (data) {
                    if (data.status === "success") {
                        $.messager.alert("",
                            data.msg,
                            "info",
                            function () {
                                parent.reload();
                                commHelper.CloseDialog("添加地球化学信息");
                            });
                    } else {
                        $.messager.alert("", data.msg, "warning");
                    }
                },
                "json");
        });
    });
</script>
